extends layout

block content
  p Welcome to #{title}. Here are the team members
  ul
    li 
      span#class-nickname-name victorious-newt
      span#class-nickname-headshot
        img(src="images/newt.jpg" width="60px" height="60px")
    li 
      span#class-nickname-name another-victorious-newt
      span#class-nickname-headshot
        img#class-nickname-headshot(src="images/newt.jpg" width="60px" height="60px")