extends layout

block content
  h3 Create New Event

  form(method="POST" action='')
    div.form-group
      label(name="title" for="title") Title
      input.form-control(name="title") 
    div.form-group
      label(name="image" for="image") Image
      input.form-control(name="image") 
    div.form-group  
      label(name="location" for="location") Location
      input.form-control(name="location") 
    div.form-group
      label(name="year" for="year") Year
      select.form-control(name="year")
        option 2017
        option 2018
    div.form-group
      - var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      label(name="month" for="month") Month
      select.form-control(name="month")
        - for (var i=0; i<months.length; i++)
          option #{months[i]}
    div.form-group
      label(name="day" for="day") Day
      select.form-control(name="day")
        - for (var i=1; i<=31; i++)
          option(name="day") #{i}
    div.form-group
      label(name="hour" for="hour") Hour
      select.form-control(name="hour")
        - for (var i=0; i<=23; i++)
          option(name="hour") #{i}
    div.form-group
      label(name="minute" for="minute") Minute
      select.form-control(name="minute")
        option 00
        option 30

      input(type="submit" name="submit" value="Submit")

  if errors
    p Errors!
    ul.form-errors#form-errors 
      for error in errors
        li #{error}